<a href="https://colab.research.google.com/github/sanjaynishanth/pyspark-tutorial/blob/main/pysparksimalritysearch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

preprocess using Minmaxscaler

In [20]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import StringIndexer, VectorAssembler, MinMaxScaler
from pyspark.ml import Pipeline
from pyspark.sql.functions import lit
from pyspark.ml.linalg import Vectors
from pyspark.sql.functions import udf
from pyspark.sql.types import DoubleType


spark = SparkSession.builder \
    .appName("Preprocessing with MinMax Scaling") \
    .getOrCreate()


df = spark.read.csv("/content/Mall_Customers.csv", header=True, inferSchema=True)
df.printSchema()

root
 |-- CustomerID: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Annual Income (k$): integer (nullable = true)
 |-- Spending Score (1-100): integer (nullable = true)

In [21]:
gender_indexer = StringIndexer(inputCol="Gender", outputCol="Gender_Indexed")
df_indexed = gender_indexer.fit(df).transform(df)

In [22]:
df_indexed = df_indexed.withColumn("Age", df_indexed["Age"].cast("double")) \
                       .withColumn("Annual Income (k$)", df_indexed["Annual Income (k$)"].cast("double")) \
                       .withColumn("Spending Score (1-100)", df_indexed["Spending Score (1-100)"].cast("double"))

In [23]:
input_columns = ["Gender_Indexed", "Age", "Annual Income (k$)", "Spending Score (1-100)"]
assembler = VectorAssembler(inputCols=input_columns, outputCol="features")
df_assembled = assembler.transform(df_indexed)

In [24]:
scaler = MinMaxScaler(inputCol="features", outputCol="scaledFeatures")
scaler_model = scaler.fit(df_assembled)
scaled_data = scaler_model.transform(df_assembled)

In [25]:
scaled_data.select("CustomerID", "Gender", "Age", "Annual Income (k$)", "Spending Score (1-100)", "scaledFeatures").show(truncate=False)

+----------+------+----+------------------+----------------------+-----------------------------------------------------------------+
|CustomerID|Gender|Age |Annual Income (k$)|Spending Score (1-100)|scaledFeatures                                                   |
+----------+------+----+------------------+----------------------+-----------------------------------------------------------------+
|1         |Male  |19.0|15.0              |39.0                  |[1.0,0.019230769230769232,0.0,0.3877551020408163]                |
|2         |Male  |21.0|15.0              |81.0                  |[1.0,0.057692307692307696,0.0,0.8163265306122448]                |
|3         |Female|20.0|16.0              |6.0                   |[0.0,0.038461538461538464,0.00819672131147541,0.0510204081632653]|
|4         |Female|23.0|16.0              |77.0                  |[0.0,0.09615384615384616,0.00819672131147541,0.7755102040816326] |
|5         |Female|31.0|17.0              |40.0                  |[0.0,0.25,0.01639344262295082,0.39795918367346933]               |
|6         |Female|22.0|17.0              |76.0                  |[0.0,0.07692307692307693,0.01639344262295082,0.7653061224489796] |
|7         |Female|35.0|18.0              |6.0                   |[0.0,0.3269230769230769,0.02459016393442623,0.0510204081632653]  |
|8         |Female|23.0|18.0              |94.0                  |[0.0,0.09615384615384616,0.02459016393442623,0.9489795918367346] |
|9         |Male  |64.0|19.0              |3.0                   |[1.0,0.8846153846153847,0.03278688524590164,0.02040816326530612] |
|10        |Female|30.0|19.0              |72.0                  |[0.0,0.23076923076923078,0.03278688524590164,0.7244897959183673] |
|11        |Male  |67.0|19.0              |14.0                  |[1.0,0.9423076923076924,0.03278688524590164,0.13265306122448978] |
|12        |Female|35.0|19.0              |99.0                  |[0.0,0.3269230769230769,0.03278688524590164,0.9999999999999999]  |
|13        |Female|58.0|20.0              |15.0                  |[0.0,0.7692307692307693,0.04098360655737705,0.14285714285714285] |
|14        |Female|24.0|20.0              |77.0                  |[0.0,0.11538461538461539,0.04098360655737705,0.7755102040816326] |
|15        |Male  |37.0|20.0              |13.0                  |[1.0,0.3653846153846154,0.04098360655737705,0.12244897959183673] |
|16        |Male  |22.0|20.0              |79.0                  |[1.0,0.07692307692307693,0.04098360655737705,0.7959183673469387] |
|17        |Female|35.0|21.0              |35.0                  |[0.0,0.3269230769230769,0.04918032786885246,0.3469387755102041]  |
|18        |Male  |20.0|21.0              |66.0                  |[1.0,0.038461538461538464,0.04918032786885246,0.6632653061224489]|
|19        |Male  |52.0|23.0              |29.0                  |[1.0,0.6538461538461539,0.06557377049180328,0.2857142857142857]  |
|20        |Female|35.0|23.0              |98.0                  |[0.0,0.3269230769230769,0.06557377049180328,0.9897959183673468]  |
+----------+------+----+------------------+----------------------+-----------------------------------------------------------------+
only showing top 20 rows